<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ALec"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".LecForumReplyDeletePop"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity
            android:name=".LecForumTopicReplyView"
            android:exported="false" />
        <activity android:name=".StuActiveQuiz" />
        <activity
            android:name=".StuForumCourseSelect"
            android:exported="false" />
        <activity
            android:name=".stu_forum_add_reply"
            android:exported="false" />
        <activity
            android:name=".stu_forum_add_new_disc_topic"
            android:exported="false" />
        <activity
            android:name=".stu_forum_topic_reply_list"
            android:exported="false" />
        <activity
            android:name=".stu_forum_disc_topic"
            android:exported="false" />
        <activity
            android:name=".LecForumAddReply"
            android:exported="false" />
        <activity
            android:name=".LecForumCourseSelect"
            android:exported="false" />
        <activity
            android:name=".LecForumTopicDeletePop"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity
            android:name=".LecForumTopicReplyList"
            android:exported="false" />
        <activity android:name=".LecQuizQuestionDeletePop" />
        <activity android:name=".LecViewQuizDetailsDraft" />
        <activity android:name=".LecViewQuizDetails" />
        <activity
            android:name=".LecQuizDeletePop"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity
            android:name=".LecQuizDeletePop2"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity android:name=".LecQuizQuestionEditMcq" />
        <activity android:name=".LecQuizQuestionEditShort" />
        <activity android:name=".LecScheduleQuiz" />
        <activity
            android:name=".LecQuizScheduleOption"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity android:name=".LecViewDraftQuiz" />
        <activity
            android:name=".LecAddQuizDraftSelectCurs"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity android:name=".LecAddQuizSelectOption" />
        <activity android:name=".LecAddQuizMcq" />
        <activity android:name=".LecAddQuizShort" />
        <activity android:name=".LecAddQuizQuestion" />
        <activity android:name=".LecAddQuizSetDetails" />
        <activity
            android:name=".LecAddQuizNewSeltCurs"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity android:name=".LecForumAddNewDiscTopic" />
        <activity android:name=".LecForumDiscTopic" />
        <activity android:name=".LecViewQuiz" />
        <activity android:name=".LecEditTopic" />
        <activity
            android:name=".LecDeleteTopicPop"
            android:theme="@style/Theme.ALec.PopUp" />
        <activity android:name=".LecAddNewTopic" />
        <activity android:name=".LecQuizList" />
        <activity android:name=".LecCourseTopics" />
        <activity android:name=".LecMyCourses" />
        <activity android:name=".StuCourseTopics" />
        <activity android:name=".StuMyCourses" />
        <activity android:name=".LecHomeActivity" />
        <activity android:name=".StuHomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>